@media (max-width: 1024px) {
  html,
  body {
    font-size: 12px;
  }
  .banner-section .carousel-caption-main {
    left: 11%;
    top: 32%;
  }
  .quality {
    height: 500px;
  }
  .contact-section .main-content {
    width: 100%;
  }
  .footer-section h2 {
    width: 100%;
  }
  .form-inline {
    margin-top: 15px;
  }
  .tiles-section .card-body {
    height: 228px;
  }
  .tiles-section .tile-box {
    padding: 2rem 1.25rem 1.25rem 1.25rem;
  }
  .key-achievements {
    min-height: 480px;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .top-header .navbar-nav .nav-item {
    padding: 0.5rem 0;
  }
  .banner-section .banner-content {
    bottom: 30px;
    font-size: 1.4rem;
  }
  .quality {
    height: 350px;
    margin-top: 0;
  }
  .quality h2 {
    /* margin-top: 25px; */
    font-size: 2rem;
  }
  .quality p {
    font-size: 1.2rem;
    background-color: rgba(255, 190, 12, 0.5);
  }
  .tiles-section .card-body {
    height: 175px;
  }
  .tiles-section .card-body .img-wrapper {
    height: 100px;
  }
  .tiles-section .card-body .img-wrapper img {
    width: 100%;
  }
  .key-achievements {
    min-height: 500px;
  }
  .contact-header p {
    width: 100%;
  }
  .news-section {
    background-size: cover;
  }
  .gallery-section .img1 {
    max-height: 100%;
    height: 100%;
  }
  .gallery-section .img2 {
    max-height: 100%;
    height: 100%;
  }
  .gallery-section .img4 {
    height: 100%;
  }
  .gallery-section .img3 {
    height: 100%;
  }
  .gallery-section a.m-30 {
    margin-bottom: 15px;
  }
  .gallery-section p {
    font-size: 0.8rem;
  }
  .gallery-section button {
    font-size: 0.8rem;
  }
  .quality h2 {
    margin-top: 51px;
  }

  .management-body .mn-blue {
    margin-left: -74px;
    margin-top: 0;
  }
}
@media (max-width: 640px) {
  .banner-section .carousel-caption-main {
    font-size: 2rem;
  }
  .banner-section .banner-content {
    font-size: 1.2rem;
  }
  .navbar-brand img {
    width: 85px;
  }
  .form-inline {
    margin-top: 0;
  }
  .tiles-section .carousel-inner {
    overflow: visible;
  }
  .tiles-section .carousel-inner .carousel-item {
    float: none;
    display: block;
    position: static;
    margin-right: 0 !important;
    transform: translateX(0) !important;
  }
  .carousel-indicators {
    display: none;
  }

  .tiles-section .card-body {
    height: auto;
    margin-top: 20px;
  }
  .tiles-section .card-body .img-wrapper {
    height: auto;
  }
  .tiles-section .card-body .img-wrapper img {
    width: 50%;
  }
  .colorful-boxes .vision,
  .colorful-boxes .mission {
    min-height: auto;
  }
  .banner-section .carousel-caption-main {
    width: auto;
    right: 11%;
  }
  .banner-section .btn {
    margin-top: 5px;
  }
  .key-achievements h2 {
    margin-bottom: 2.625rem;
  }
  .gallery-section a {
    margin-bottom: 15px;
  }
  .quality {
    height: 280px;
  }

  .management-body .mn-blue {
    margin-left: 0;
  }
}
@media (max-width: 460px) {
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  .footer-section h2 {
    width: 100%;
  }
  .banner-section .banner-content {
    bottom: 5px;
    font-size: 1rem;
    width: 100%;
  }
  .banner-section .carousel-caption-main {
    top: 20px;
    font-size: 1.7rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    bottom: 60px;
  }
  .carousel-control-prev-icon img,
  .carousel-control-next-icon img {
    width: 15px;
  }
  .gallery-section .fas {
    display: none;
  }
  .gallery-section .col-md-8 {
    margin-bottom: 30px;
  }
  .gallery-section .thumb-wrapper {
    height: auto;
    overflow: visible;
  }

  .contact-section .shadow-sm img {
    max-width: 100%;
  }

  .contact-header .hdr {
    width: 100%;
  }
  .contact-header p {
    font-size: 1.56rem;
  }
}
