html,
body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #313131;
}
/* --- Global --- */
.btn {
  text-transform: uppercase;
}
.btn-lg {
  padding: 0.7rem 1.875rem;
  font-size: 1rem;
}
.btn-md {
  padding: 0.5rem 0.625rem;
}
.btn-outline-warning {
  border-color: #ffd617;
  color: #ffd617;
  font-size: 1rem;
}
.btn-outline-2 {
  border: 2px solid #ffd617;
}
.navbar-brand {
  padding: 0;
}
.btn-primary {
  background-color: #4782bf;
  color: #fff;
}
.btn-highlighted {
  background-color: #ffd617;
  color: #000000;
}

.element-half {
  width: 50% !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}
.carousel-control-next,
.carousel-control-prev {
  top: 0%;
  bottom: 125px;
  width: 10%;
}
.input-blue-dark {
  background-color: #111755;
  border-color: #525ea6;
  color: #c5c5cf;
}
.input-blue-dark::placeholder {
  color: #c5c5cf;
  font-size: 15px;
}

.custome-scrollbar-yellow::-webkit-scrollbar {
  width: 6px;
  background-color: #848384;
}

.custome-scrollbar-yellow::-webkit-scrollbar-thumb {
  background-color: #ffd617;
}

.nav-item {
  position: relative;
}

.drop-pos-top {
  margin-top: -6px;
}
.custom-dropdown {
  background: #4782bf;
  padding: 0 0 1px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 230px;
}
.custom-dropdown li {
  background: #4782bf;
  color: #ffffff;
}
.custom-dropdown li:hover {
  background: #ffd617;
  color: #000000;
}
.custom-dropdown > li:hover > a,
.custom-dropdown li:hover .fas {
  color: #000000;
}

.nav-item:hover .custom-dropdown {
  display: block;
}
.nav-item .custom-dropdown a {
  color: #ffffff;
  border-bottom: 1px solid #316599;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item .custom-dropdown li:last-child a {
  border-bottom: none;
}
.nav-item .custom-dropdown a:hover {
  text-decoration: none;
}

.inner-drop-down {
  display: none !important;
}
.dropright:hover .inner-drop-down {
  display: block !important;
}
.table .thead-blue th {
  background-color: #4781c0;
  color: #ffffff;
  border-color: #4781c0;
}
/* --- Global end --- */
.index h2,
h3 {
  color: #313131;
}
.index h2 {
  font-size: 2.25rem;
}

.navbar-nav {
  margin-top: 0px;
  position: relative;
  top: 15px;
}
.top-header {
  position: relative;
  z-index: 1;
  background: #4782bf;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.top-header .navbar {
  padding: 0;
}
.top-header .navbar-nav .nav-item {
  padding: 0;
}
.top-header .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.top-header .navbar-nav .nav-item.active .nav-link {
  color: #ffd617;
  font-weight: bold;
}
.top-header p {
  margin: 0;
  text-align: left;
  font-size: 0.875rem;
  color: #fff;
}
.top-header .fa-phone {
  transform: rotate(95deg);
}
.top-header p:first-child {
  margin-top: 0;
}
.top-header p i {
  margin-right: 15px;
}

.tiles-section,
.gallery-section {
  margin-top: 50px;
  padding-bottom: 100px;
}
.tiles-section h2,
.gallery-section h2 {
  margin-bottom: 30px;
}

.tiles-section .carousel-indicators {
  bottom: -60px;
}

.tiles-section .carousel-indicators li {
  background-color: #4782bf;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.tiles-section .carousel-indicators li.active {
  background-color: #ffd617;
}

.tiles-section h3 {
  margin-top: 30px;
  font-size: 1.435rem;
}
.tiles-section .card-body {
  height: 280px;
  transition: all 0.3s;
  margin-bottom: 0 !important;
}
.tiles-section .tile-box {
  background-color: #4782bf;
  padding: 2rem 1.25rem 2rem 1.25rem;
  color: #fff;
  border-radius: 3px;
  margin: 0 1.875rem 0;
  margin-top: -3.875rem;
  position: relative;
  font-size: 0.9375rem;
}

.tiles-section .tile-box h3 {
  color: #fff;
}
.tiles-section .tile-box .btn {
  font-size: 0.875rem;
}
.tiles-section .tile-box .btn-outline-2 {
  color: #ffd617;
}
.tiles-section .tile-box .btn-outline-2:hover {
  background-color: #ffd617;
  border-color: #ffd617;
  color: #000000;
}

.paragraph-section {
  margin: 0px 0 1rem 0;
}
.img-wrapper {
  height: 255px;
  padding: 1rem 1.875rem 1.875rem 1.875rem;
  text-align: center;
}
.img-wrapper img {
  width: 90%;
  position: relative;
  z-index: 1;
}
.img-wrapper img.p2 {
  width: 84%;
}

.banner-section .carousel-caption-main {
  position: absolute;
  top: 30%;
  color: #fff;
  font-size: 2.1875rem;
  width: 45%;
  line-height: 1.2;
}
.banner-section .btn {
  font-size: 1.125rem;
  text-transform: uppercase;
  background: #4782bf;
  border-color: #4782bf;
  font-weight: 300;
  margin-top: 35px;
}
.banner-section .content-section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner-section .banner-content {
  background: #ffb308 url("../images/slider-content-bg.jpg") top center
    no-repeat;
  color: #000000;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  text-align: center;
  margin: auto;
  min-height: 25.625rem;
  padding: 1.875rem;
  margin-top: -85px;
}
.banner-section .banner-content p {
  width: 85%;
  margin: auto;
  margin-top: 6.375rem;
}
/* --------- achievements ----------- */
.key-achievements {
  background: url("../images/key-bg.jpg") top center no-repeat;
  min-height: 680px;
  padding: 40px 0;
  color: #fff;
}
.key-achievements h2 {
  margin-bottom: 5.625rem;
  margin-top: 5.25rem;
  color: #ffffff;
}
.key-achievements .highlighted-text {
  color: #ffd717;
  font-size: 2.25rem;
  font-weight: bold;
}
.key-achievements p {
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 1.3;
}
.key-achievements .btn-outline-warning {
  margin-top: 40px;
}
.gallery-section .gallery-wrapper {
  display: flex;
}
.gallery-section a {
  display: block;
  position: relative;
  transition: all 0.3s;
}
.gallery-section a .fa-plus {
  display: none;
}
.gallery-section a:hover .fa-plus {
  display: block;
}
.gallery-section a:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.gallery-section .plus {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  transform: translateY(-50%);
  border-radius: 100%;
  border: 2px solid #ffd617;
}
.gallery-section .img1 {
  height: 550px;
}
.gallery-section .img2 {
  height: 196px;
}
.gallery-section .m-30 {
  margin-bottom: 30px;
}
.gallery-section .img3 {
  height: 196px;
}
.gallery-section .img4 {
  height: 323px;
}
.gallery-section p {
  margin-bottom: 10px;
}

.gallery-section .gallary-img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.gallery-section img {
  width: 100%;
  border-radius: 3px;
  height: calc(50% - 0px);
}
.gallery-section .fas {
  border: 3px solid #ffd617;
  border-radius: 100%;
  padding: 8px 10px;
  font-size: 1.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  color: #ffd617;
  transition: all 0.1s;
  z-index: 10;
}

.gallery-section .thumb-wrapper {
  height: 410px;
  overflow: auto;
}
.gallery-section .thumb-wrapper img:first-child {
  margin-top: -15px;
}
.gallery-section .thumb-wrapper img {
  margin: 15px 0;
}

.quality {
  background: url("../images/quality.jpg") top left no-repeat;
  height: 700px;
  background-size: 100% 100%;
}
.quality .icon-wrp {
  height: 65px;
}
.quality h2 {
  margin-top: 10.375rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #244694;
  font-size: 2.625rem;
  margin-bottom: 20px;
}
.quality p {
  font-size: 1.25rem;
  color: #07111e;
}

.steps-section {
  background: #062661;
  padding: 50px 0;
  color: #ffd617;
}

.steps-section h2 {
  color: #76809c;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 4.375rem;
  margin-bottom: 25px;
}
.steps-section p {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
}

.footer-section {
  background: #010207 url("../images/footer-bg.jpg") top center no-repeat;
  color: #fff;
  padding: 80px 0;
}
.footer-section .container {
  text-align: center;
}
.footer-section button {
  margin: auto;
}
.footer-section h2 {
  width: 70%;
  margin: auto;
  font-size: 2.25rem;
  color: #fff;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 50px;
}
.footer-section .top-footer {
  text-align: left;
}
.footer-section .top-footer a {
  color: #fff;
  margin-bottom: 10px;
  display: block;
  transition: all 0.3s;
}
.footer-section h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.footer-section .btn-highlighted {
  margin-bottom: 80px;
}
.footer-section .social-icons a {
  display: inline;
  font-size: 1.875rem;
  margin-right: 10px;
}
.footer-section .h3-mr {
  margin-top: 30px;
}

.address-setion p {
  margin-bottom: 10px;
  display: flex;
}
.address-setion .fas,
.address-setion .far {
  margin-top: 4px;
  margin-right: 10px;
}

.btm-footer {
  background: #030305;
  color: #a4a4a6;
  padding: 40px 0;
  text-align: center;
}

/* --- Contact --- */
.contact-header {
  position: relative;
}
.contact-header img {
  width: 100%;
}
.contact-header .hdr {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}
.contact-header p {
  font-size: 2.1875rem;
  width: 50%;
  color: #fff;
}

.contact-section .main-content {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2.1875rem;
  color: #000000;
  text-align: center;
  width: 70%;
  margin: 2.5rem auto;
}
.mr-zero {
  margin-right: 0;
  margin-left: 0;
}
.contact-section .left {
  background-color: #01063e;
  padding: 30px;
}
.contact-section .left h3 {
  color: #ffffff;
}
.contact-section .left input {
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact-section .left .form-control:focus {
  background: none;
  transition: all 0.3s;
}
.contact-section .left textarea {
  text-align: left;
  margin-top: 15px;
}
.contact-section .left .btn {
  margin-top: 30px;
}
.contact-section .right {
  background-color: #ffd618;
  padding: 30px;
}
.contact-section .address-setion {
  color: #051121;
  font-size: 1.1875rem;
}
.contact-section .address-setion .fas {
  margin-top: 7px;
}

.google-map-section {
  margin-bottom: 60px;
}
.google-map-section .img-responsive {
  width: 100%;
}

/* ----- About us ------ */
.news-section {
  font-family: "Merriweather", serif;
  background: #0d0809 url("../images/news-bg.jpg") top center no-repeat;
  padding: 30px;
  font-style: italic;
  font-size: 1.25rem;
  color: #fff;
  height: 645px;
  overflow: auto;
}
.news-section h4 {
  font-size: 2.25rem;
  font-weight: bold;
  font-style: normal;
  color: #ffd617;
}

.colorful-boxes .box {
  padding: 30px;
  color: #000000;
  margin-bottom: 30px;
}

.colorful-boxes .vision {
  background: #65b1ff;
  min-height: 530px;
}
.colorful-boxes .mission {
  background: #ffd617;
  min-height: 530px;
}
.colorful-boxes .quality-sec {
  background: #00d6d4;
}
.colorful-boxes .research {
  background: #ff9a60;
}
.colorful-boxes .blue {
  background: #254695;
  text-align: center;
}
.colorful-boxes .blue img {
  max-width: 100%;
}

.colorful-boxes h4 {
  font-size: 3rem;
}
.colorful-boxes p {
  font-size: 1.875rem;
}
.contact-section .box {
  font-size: 1.875rem;
  font-family: "Merriweather", serif;
  font-style: italic;
}
.contact-section .box.mission {
  min-height: auto;
}
.contact-section .card-body h4 {
  font-size: 2.25rem;
  margin-bottom: 0;
}
.contact-section .card-body h6 {
  font-family: "Merriweather", serif;
  font-size: 1.125rem;
  font-style: italic;
  margin-bottom: 20px;
}
