body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #4d4d4d;
}
/* --- Global --- */
.btn-primary {
    background-color: #4782bf;
    color: #fff;
}
.btn-highlighted {
    background-color: #ffd617;
    color: #000000;
}

.element-half {
    width: 50% !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}
.carousel-control-next, .carousel-control-prev {
    top: 0%;
    bottom: 51%;
    width: 10%;
}
/* --- Global end --- */
.index h2, h3 {
    color: #313131;
}
.index h2 {
    font-size: 48px;    
}

.navbar-nav {
    margin-top: 35px;
}
.top-header .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    color: #000000;
}
.top-header .navbar-nav .nav-item.active .nav-link {
    color: #4781c0;
}
.top-header p {
    margin: 0;
    text-align: left;
    font-size: 14px;
}
.top-header .fa-phone {
    transform: rotate(135deg);
}
.top-header p:first-child {
    margin-top: 20px;
}
.top-header p i {
    margin-right: 15px;
}

.tiles-section {
    margin-top: 60px;
}
.tiles-section h2 {
    margin-bottom: 30px;
}

.tiles-section h3 {
    margin-top: 30px;
    font-size: 26px;
}
.tiles-section .card-body {
    height: 590px;
    transition: all 0.3s;
}
.card.card-body:hover {
    background: #4782bf;
    color: #fff;
    /* box-shadow: 0px 0px 10px rgba(71, 130, 191, 1); */
}
.card.card-body:hover h3 {
    color: #ffffff;
}
.card.card-body:hover .btn {
    background-color: #ffd617;
    border-color: #ffd617;
    color: #000000;
}
.paragraph-section {
    margin: 0px 0 30px 0;
}
.img-wrapper {
    height: 345px;;
}


.banner-section .carousel-caption-main {
    position: absolute;
    top: 20%;
    color: #fff;
    font-size: 48px;
    width: 60%;
    line-height: 1.2;
}
.banner-section .btn {
    font-size: 18px;
    text-transform: uppercase;
    background: #4782bf;
    border-color: #4782bf;
    font-weight: 300;
}
.banner-section .content-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.banner-section .banner-content {
    color: #000000;
    font-size: 28px;
    position: absolute;
    bottom: 70px;
    font-family: 'Merriweather', serif;
    width: 75%;
    text-align: center;
}
/* --------- achievements ----------- */
.key-achievements {
    background: url('../images/key-bg.jpg') top center no-repeat;
    min-height: 680px;
    padding: 40px 0;
    color: #fff;
}
.key-achievements h2 {
    margin-bottom: 30px;
    margin-top: 84px;    
}
.key-achievements .highlighted-text {
    color: #ffd717;
    font-size: 40px;
    font-weight: bold;
}
.key-achievements p {
    margin-top: 15px;
    font-size: 26px;
}


.gallery-section .gallary-img {
    height: 400px;
    width: 100%;
}
.gallery-section img {
    width: 100%;
}


.quality {
    background: url('../images/quality.jpg') top left no-repeat;
    height: 830px;
}


.steps-section {
    background: #062661;
    padding: 50px 0;
    color: #ffb204;
}

.steps-section h2 {
    color: #76809c;
}
.steps-section p {
    margin-top: 20px;
}

.footer-section {
    background: #010207;
    color: #fff;
    padding: 40px 0 20px 0;
}
.footer-section .container {
    text-align: center;
}
.footer-section button {
    margin: auto;
}
.footer-section h2 {
    width: 70%;
    margin: auto;
}
.footer-section .top-footer {
    text-align: left;
}
.footer-section .top-footer a {
    color: #fff;
    margin-bottom: 16px;
    display: block;
}
.address-setion p {
    padding-left: 20px;
}
.btm-footer {
    background: #030305;
    color: #a4a4a6;
    padding: 40px 0;
    text-align: center;
}